.Food-Display{
    margin-top: 30px;
}
.Food-Display h2 {
    font-size:2vw,24px;
    font-weight: 600;

}
.Food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 2vw;
    gap: 30px;
    row-gap:50px;
}